@font-face {
  font-family: HelveticaNeue;
  src: url(/HelveticaNeue.ttf) format('ttf');
}

.App {
  font-family: "HelveticaNeue", Helvetica, Arial;
}

.App-title {
  font-size: 1.5em;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  flex-basis: 8.3333%;
}

.col-2 {
  flex-basis: 16.6667%;
}

.col-3 {
  flex-basis: 24.9999%;
}

.col-4 {
  box-sizing: border-box;
  flex-basis: 33.33333%;
  padding-left: 8px;
  padding-right: 8px;
}

.col-12 {
  flex-basis: 100%;
}

.card {
  border: 1px solid rgba(72, 72, 72, 0.2);
  margin-bottom: 20px;
  text-align: center;
}

.explore {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.explore .item {
  display: flex;
  border: 1px solid rgba(72, 72, 72, 0.2);
  padding: 0px;
  margin: 16px;
  border-radius: 4px;
}

.explore .item .item-title {
  align-self: center;
  padding-left: 24px;
  font-weight: bold;
}

.experiences {
  display: flex;
  flex-flow: row nowrap;
}

.experiences .item {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0px;
  padding-right: 0px;
  height: 400px;
  border: 1px solid rgba(72, 72, 72, 0.2);
  margin: 16px;
}

main section {
  padding-top: 48px;
}

main .section-name {
  padding-left: 16px;
}

main {
  width: 976px;
  margin: 0 auto;
}